<?xml version="1.0" encoding="utf-8"?>
<CodeSnippets xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet">
	<CodeSnippet Format="1.0.0">
		<Header>
			<Title>main</Title>
			<Shortcut>main</Shortcut>
			<Description>Inserts a main function template.</Description>
			<Author>Your Name</Author>
		</Header>
		<Snippet>
			<Code Language="cpp">
				<![CDATA[int main()
        {
			//good for you
            return 0;
        }]]>
			</Code>
		</Snippet>
	</CodeSnippet>
</CodeSnippets>